.side_drawer{
    height: 100%;
    background:white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
}

.side_drawer ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side_drawer li{
  margin: 0.5rem;
}

.side_drawer a{
    color: #456268;
}
.side_drawer a:hover,
.side_drawer a:active{
    color: #c05555;
}