.homeButton {
  border-radius: 6px;
  font-family: "Carter One", cursive;
  font-weight: bold;
  color: #f7f5f5;
  font-size: 26px;
  padding: 10px 30px 10px 30px;
  margin: 40px;
  outline: none;
  text-decoration: none;
  border: 2px solid whitesmoke;
  background-color: Transparent;
  background-repeat: no-repeat;
}

.homeButton:hover {
  background: #c5ced1;
  color: black;
  text-decoration: none;
}

.submit {
  display: flex;
  background-color: rgba(0, 0.8, 0.8, 0.5);
  border-radius: 4px;
  border: none;
  padding: 10px 16px;
  color: #DDC772;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  outline-style: none;
}

.submit:hover {
  padding: 10px 20px;
  color: rgb(252, 247, 247);
  font-size: 20px;
  border-radius: 4px;
}

.SidebuttonType{
  background-color: transparent;
  color: whitesmoke;
  transition: 0.5s;
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 4px;
  margin: 10px;
  font-size: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  outline-style: none;
}

.SidebuttonType:hover{
  background-color: transparent;
  color: #fff;
  font-size: 110%;
  text-decoration: underline;
  cursor: pointer;
}

.popupButton{
  border: 2px solid black;
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.crossButton{
  /* background-color: #f46303; */
  color: #f46303;
  font-weight: bolder;
  font-size: 100%;
  padding: 3px 11px;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  outline-style: none;
  background-color: transparent;
}

.add{
  display: flex;
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 7px 10px;
  opacity: 0.6;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

.add:hover{
  opacity: 1;
}

.download{
  background: none;
  /* background-image: -webkit-linear-gradient(top, #071e2e, #396096);
  background-image: -moz-linear-gradient(top, #071e2e, #396096);
  background-image: -ms-linear-gradient(top, #071e2e, #396096);
  background-image: -o-linear-gradient(top, #071e2e, #396096);
  background-image: linear-gradient(to bottom, #071e2e, #396096); */
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Georgia;
  color: rgba(21, 60, 99, 0.8);
  font-size: 19px;
  border: 2px solid rgb(39, 67, 95);
  outline: none;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.download:hover {
  color: #123;
  /* background: #8d9fc4;
  background-image: -webkit-linear-gradient(top, #8d9fc4, #436f8c);
  background-image: -moz-linear-gradient(top, #8d9fc4, #436f8c);
  background-image: -ms-linear-gradient(top, #8d9fc4, #436f8c);
  background-image: -o-linear-gradient(top, #8d9fc4, #436f8c);
  background-image: linear-gradient(to bottom, #8d9fc4, #436f8c); */
  text-decoration: none;
}