.homeButton {
  border-radius: 6px;
  font-family: "Carter One", cursive;
  font-weight: bold;
  color: #f7f5f5;
  font-size: 26px;
  padding: 10px 30px 10px 30px;
  margin: 40px;
  outline: none;
  text-decoration: none;
  border: 2px solid whitesmoke;
  background-color: Transparent;
  background-repeat: no-repeat;
}

.homeButton:hover {
  background: #c5ced1;
  color: black;
  text-decoration: none;
}

.submit {
  display: flex;
  background-color: rgba(0, 0.8, 0.8, 0.5);
  border-radius: 4px;
  border: none;
  padding: 10px 16px;
  color: #f46303;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  outline-style: none;
}

.submit:hover {
  padding: 10px 20px;
  color: rgb(252, 247, 247);
  font-size: 20px;
  border-radius: 4px;
}

.SidebuttonType{
  background-color: rgb(172, 161, 161);
  color: whitesmoke;
  transition: 0.5s;
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 4px;
  margin: 10px;
  font-size: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  outline-style: none;
}

.SidebuttonType:hover{
  background-color: transparent;
  color: rgb(2, 2, 2);
  font-size: 110%;
}

.popupButton{
  border: 2px solid black;
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.crossButton{
  /* background-color: #f46303; */
  color: #f46303;
  font-weight: bolder;
  font-size: 100%;
  padding: 3px 11px;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  outline-style: none;
  background-color: transparent;
}

.add{
  display: flex;
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 7px 10px;
  opacity: 0.6;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

.add:hover{
  opacity: 1;
}