#select {
    margin: 0px 0px 10px 0px;
    width: 100%;
    padding: 8px;
    border: none;
    background: transparent;
    color: white;
    box-sizing: border-box;
    outline-style: none;
    background-color: rgba(0, 0, 0, 0.5);
}