* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.Home{
    text-align: center;
    background-image: linear-gradient(rgba(212, 209, 209, 0.5), rgba(0, 0.8, 0.8, 0.5)),
      url("../Assets/pexels-polina-zimmerman-3747403.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 800px;
  }
  
  /* span{
    font-family: 'Italianno', cursive;
  } */

  .Navbar{
    background-color: black;
    opacity: 65%;
    height: 70px;
  }
  
 
  
  .Logo {
    width: 15%;
    margin-right: 20px;
    margin: 0 auto 100px auto;
  }
  
  .Nav > p {
    margin-top: 200px;
    font-family: 'Italianno', cursive;
    font-size: 100px;
    font-weight:normal;
    color: whitesmoke;
  }
  

   

  
    