.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.classNavBar {
  background-color: #f9813a;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-top: 0;
  height: 80px;
  display: flex;
  align-items: center;
}

.classNavBar_logo {
  width: 15%;
}

.menu-bars > .MuiSvgIcon-root {
  color: grey;
}

.menu-bars {
  margin-top: 0;
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: black;
}



.nav-menu {
  background-color: #c4c3c3;
  width: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.55);
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  color: #4b4948;
  font-weight: bold !important ;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  /* background-color: transparent; */
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.text{
  margin-left: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
