* {
  margin: 0;
  padding: 0;
}

.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

@media (max-width: 480px) {
  .register-page {
    background-image: url("../Assets/bg.jpg");
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .register-page {
    background-image: url("../Assets/bg.jpg");
  }
}

@media (min-width: 1025px) {
  .register-page {
    background-image: url("../Assets/bg.jpg");
  }
}

/* .lapiImage {
  flex: 1.5;
} */

.register-box {
  background-color: #658388ee;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 30px;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 600px;
  opacity: 80%;
  /* flex: 0.5; */
  /* margin-right: 100px; */
}

.register__header {
  font-size: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.register__footer {
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.userSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
}

.user-box {
  margin-bottom: 1px;
}

.user-box > input {
  width: 400px;
  padding-top: 8px;
  padding-bottom: 2px;
  padding: 10px;
  font-size: 16px;
  color: rgb(233, 227, 227);
  text-decoration: none;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 20px;
  outline: none;
  background: transparent;
}

.user-box > label {
  display: flex;
  text-align: start;
  color: #fff;
  padding-bottom: 5px;
  font-size: 20px;
}

.already {
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(194, 191, 191);
}

.link-item {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding-left: 6px;
}
.link-item:hover {
  color: black;
  cursor: pointer;
}

.error_message {
  color: #f40303;
  padding: 0%;
  text-align: end;
}
