* {
  margin: 0;
  padding: 0;
}

.Signin {
  text-align: center;
  background-image: linear-gradient(
      rgba(10, 10, 10, 0.5),
      rgba(0, 0.8, 0.8, 0.5)
    ),
    url("../Assets/pexels-polina-zimmerman-3747403.jpg");
  /* background-position: 0 100px; */
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 800px;
}

.signin-box h1 {
  margin-bottom: 30px;
  text-align: center;
  color: blanchedalmond;
}

.signin-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  padding: 40px;
  background-color: rgba(3, 3, 3, 0.5);
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.user-box {
  position: relative;
}

.user-box > input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}


.user-box > label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.user-box .input-group:focus-within label,
.user-box .input-group:focus-within label {
  top: -10px;
  left: 0;
  color: #f46f03;
  font-size: 12px;
}

.signin_submit {
  /* position: relative; */
  display: inline-block;
  padding: 8px 20px;
  color: #f46303;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
}

.signin_submit:hover{
  padding: 10px 20px;
  /* background: #f46303; */
  color: rgb(252, 247, 247);
  border-radius: 4px;
  /* padding-top: 5px; */
}

.signin_btn {
  padding-top: 5px;
  float: left;
  border-radius: 4px;
  background-color: rgba(0, 0.8, 0.8, 0.5);
  border: none;
  text-decoration: none;
}

.signin_comment {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 80px auto;
  color: antiquewhite;
  font-size: 16px;
}

.signin_link {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
  text-decoration: none;
  color: #f46303;
  font-size: 20px;
  padding: 5px;
}
