* {
  margin: 0;
  padding: 0;
}

.login-page {
  text-align: center;
  /* background-image: url("../Assets/mainImage-inverted.jpg"); */
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

@media (max-width: 480px) {
  .login-page {
    background-image: url("../Assets/mainImage-inverted.jpg");
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .login-page {
    background-image: url("../Assets/mainImage-inverted.jpg");
  }
}

@media (min-width: 1025px) {
  .login-page {
    background-image: url("../Assets/mainImage-inverted.jpg");
  }
}

.login__header {
  padding: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 30px;
}

.login__footer {
  padding: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.client__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
}

.login-box {
  background-color: rgb(3, 3, 3, 0.8);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  top: 50%;
  bottom: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 440px;
  padding: 40px;
  float: left;
  margin: 150px;
  margin-left: 150px;
}

.client-box > input {
  width: 280px;
  padding-top: 8px;
  padding-bottom: 2px;
  padding-left: 5px;
  font-size: 16px;
  color: rgb(233, 227, 227);
  text-decoration: none;
  margin-bottom: 20px;
  border: none;
  border: 1px solid rgb(122, 120, 120);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
  outline: none;
  background: transparent;
}

.client-box > label {
  display: flex;
  justify-content: start;
  color: #f46f03;
  padding-bottom: 5px;
}

.create {
  margin: 10px;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(194, 191, 191);
}

.linked-item {
  text-decoration: none;
  color: #f46303;
  font-size: 20px;
  padding-left: 6px;
}
.linked-item:hover {
  color: black;
  cursor: pointer;
}
