* {
  margin: 0;
  padding: 0;
}

.login-page{
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

@media (max-width: 480px) {
  .login-page {
    background-image: url("../Assets/bg.jpg");
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .login-page {
    background-image: url("../Assets/bg.jpg");
  }
}

@media (min-width: 1025px) {
  .login-page {
    background-image: url("../Assets/bg.jpg");
  }
}

.login-box {
  background-color: #658388ee;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 30px;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 600px;
  opacity: 80%;
}

.login__header {
  font-size: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.login__footer {
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.client__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
}

.client-box{
  margin-bottom: 1px;
}

.client-box > input {
  width: 350px;
  padding-top: 8px;
  padding-bottom: 2px;
  padding: 10px;
  font-size: 16px;
  color: rgb(233, 227, 227);
  text-decoration: none;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 20px;
  outline: none;
  background: transparent;
}

.client-box > label {
  display: flex;
  justify-content: start;
  color: #fff;
  padding-bottom: 5px;
  font-size: 20px;
}

.create {
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(194, 191, 191);
}

.linked-item {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding-left: 6px;
}
.linked-item:hover {
  color: black;
  cursor: pointer;
}
