.try {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}

.try-bar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: black;
}

.try-button{
    display: flex;
    align-items: center;
}