@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins,wght@1,500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.blog_post {
  width: 70%;
  min-width: 200px;
  padding: 5rem;
  height: 300px;
  background-color: #eee;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.blog_postImg img {
  width: 400px;
  height: 250px;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
  transform: translateX(-8rem);
  box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
}

.blog_postInfo {
  margin-top: 30px 0;
}

.blog_postTitle {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: rgba(21, 60, 99, 0.8);
  font-family: "Potta One", cursive;
}

.blog_postText {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: rgb(32, 43, 54);
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
